streamlit>=1.38.0
mysql-connector-python>=9.0.0
langchain>=1.0.0
langchain-openai>=0.2.0
langchain-community>=0.3.0
#langchain-groq>=0.2.0          # ← this is the missing / wrong line
langchain-classic>=1.0.0
faiss-cpu>=1.8.0
openai>=1.0.0
langchain-groq==1.1.2
langchain-groq
langchain-huggingface
sentence-transformers
#pandas

#langchain-core